[submodule "lite-xl/lite-xl-plugins"]
	path = lite-xl/lite-xl-plugins
	url = https://github.com/lite-xl/lite-xl-plugins
[submodule "lite-xl/lite-xl-terminal"]
	path = lite-xl/lite-xl-terminal
	url = https://github.com/benjcollins/lite-xl-terminal
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "oh-my-zsh/custom/plugins/fast-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
